[phases.setup]
nixPkgs = ["php82", "php82Packages.composer"]

[phases.install]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "chmod -R 777 writable"
]

[start]
cmd = "php -S 0.0.0.0:$PORT -t public"
